extends ../layout/index

block contenido
    div.py-2
        h1.text-4xl.my-10.font-extrabold.text-center.text-azulMunsell Bienes
            span.font-normal.text-azulClaro Raices
        h2.text-center.text-2xl.font-extrabold.text-azulPrusia= pagina

    div(class="bg-blanco shadow py-8 px-4 rounded-lg max-w-md mx-auto") 
        p(class=error ? 'bg-rojoClaro text-blanco py-2 px-5 rounded-lg w-full font-bold text-center' : 'bg-verdeClaro text-blanco py-2 px-5 rounded-lg w-full font-bold text-center')= mensaje

        if !error
            a(href="/auth/login" class="text-center font-bold text-sm text-azulPrusia uppercase mt-10 block hover:underline") Ya puedes Iniciar Sesión
